/**
* Javascript clock css file
**/

body {
  background-color: #fff;
  background-image: url(https://source.unsplash.com/wS9hvhqn4XU/1500x1000) ;
  height: 100vh;
  width: 100vw;
  overflow: hidden ;

}

.container-fluid {
  display: -ms-flexbox;
	display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: -2vh 0 0 -1vh;
  padding: 0;
  width: 101vw;
  height: 101vh;
  overflow: hidden;

}

.header, .footer {
  width: 100%;
  display: block;
  padding: 1em;
  text-align: center ;
  color: rgb(255, 255, 255);
}

.footer {
  font-size: 14px;

}
.footer a {
  color: rgb(255, 255, 255);
}

#clock-wrapper {
  position: relative;
  display: block ;
  width: 50vh;
  height: 50vh;
  margin: auto;

}


#clock-face {
  position: absolute;
  width: 100%;
  min-height: 100%;
  border: solid rgb(255, 255, 255) 5px;
  border-radius: 50%;
  background-image: url(logo.png);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: center ;
  z-index: 1;

}

/*#curtain {*/
  /*!*background-color: rgba(255, 255, 255, .75);*!*/
  /*position: absolute;*/
  /*width: 99%;*/
  /*min-height: 99%;*/
  /*margin-left: 1%;*/
  /*margin-top: 1%;*/
  /*border-radius: 50%;*/
  /*z-index: 2*/
/*}*/

#seconds, #minutes, #hours {
  position: absolute;
  top: 50%;
  right: 50%;
  transform-origin: 100%;
  border-radius: 5px;

}

#seconds{
  height: .5px;
  border: solid rgb(255, 255, 255) 1px;
  background-color: rgb(255, 255, 255);
  width: 48%;
  z-index: 5;
}

#minutes{
  height: 1.5px;
  border: solid rgb(255, 255, 255) 2px;
  background-color: rgb(255, 255, 255);
  width: 45%;
  z-index: 6;
}

#hours{
  height: 3px;
  border: solid rgb(255, 255, 255) 4px;
  background-color: rgb(255, 255, 255);
  width: 30%;
  z-index: 7;
}
