body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;

}

#container h1, h2{
    display: flex;
    flex: 0 0 100%;
}

.text-center{
    justify-content: center;
}

#content{
    flex: 0 0 100%;
    background-color: #cecece;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 5px;
}

#cards {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 100%;
    flex-wrap: wrap;
    margin: 1rem auto;
    
}

.card {
    display: flex;
    flex: 0 0 33%;
    height: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: last baseline;
}

.card .caption{
    background-color: rgba(255, 255, 255, .8);
    flex: 0 0 100%;
    height: max-content;
    padding: 1rem;
    overflow-wrap: break-word;
    min-height: 3rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: .75rem;
}


#footer{
    display: flex;
    flex: 0 0 100%;
    margin-top: 5rem;
}

@media screen and (min-width: 1200px) {
    #container {
        max-width: 1180px;
    }


.card {
    display: flex;
    flex: 0 0 24%;
}
  }