/**
* Javascript clock css file
**/

body {
  background-color: #fff;
}

#clock-wrapper {
  position: relative;
  display: block ;
  width: 300px;
  min-height: 300px;

}

#clock-face {
  position: absolute;
  width: 100%;
  min-height: 100%;
  border: solid rgb(240,116,0) 2px;
  border-radius: 50%;
  background-image: url(logo-clem_00.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center ;

}

#seconds, #minutes {
position: absolute;
  height: 1px;
  top: 50%;
   right: 50%;
  transform-origin: 100%;

}

#seconds{
  border: solid rgb(240,116,0) 1px;
  background-color: rgba(240,116,0, .5);
  width: 48%;
}

#minutes{
  border: solid rgb(240,116,0) 2px;
  background-color: rgba(240,116,0, .5);
  width: 45%;
}
